name: Docker Build

on:
  push:
    branches:
      - master
      - feature/DockerContainers

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./Dockers
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-python-app:latest

      - name: Run container
        run: |
          docker run -d --name test-container ${{ secrets.DOCKERHUB_USERNAME }}/my-python-app:latest
          docker ps -a

      - name: Stop container
        run: docker stop test-container

      - name: Remove container
        run: docker rm test-container